@model Angsoz.GerenciamentoAmigosAniversario.Web.Models.Presente

@{
    ViewData["Title"] = "Excluir presente";
}

<h3 style="padding-left:15px">@ViewData["Title"] </h3>

<div class="col-md-8 col-lg-9">

    <div class="block">

        <div class="block-title">

            <div class="pull-right" style="margin-top: 2px; margin-right: 2px;">
                <a class="btn themed-background-creme" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
                <a class="btn themed-background-success" asp-action="Index"><i class="fa fa-undo"></i> Voltar a lista de aniversários</a>
            </div>
            <ul class="nav nav-tabs" data-toggle="tabs">
                <li class="active"><h4>Deseja excluir o presente de @Html.DisplayFor(model => model.Nome) ? </h4></li>
            </ul>
        </div>

        <div class="tab-content">

            <div class="tab-pane active" id="tickets-list">
                <div class="block-content-full">
                    <div class="table-responsive remove-margin-bottom">
                        <table class="table table-striped table-vcenter remove-margin-bottom">

                            <tbody>
                                <tr>
                                    <td class="text-left">Nome do presente:</td>
                                    <td> @Html.DisplayFor(model => model.Nome)</td>
                                </tr>
                                <tr>
                                    <td class="text-left">Descrição do presente:</td>
                                    <td>@Html.DisplayFor(model => model.Descricao)</td>
                                </tr>
                                <tr>
                                    <td class="text-left">Valor do presente:</td>
                                    <td> @Html.DisplayFor(model => model.Valor)</td>
                                </tr>
                                <tr>
                                    <td class="text-left">Nome do amigo que irá receber o presente:</td>
                                    <td>@Html.DisplayFor(model => model.Pessoas.Nome)</td>
                                </tr>

                              
                            </tbody>

                        </table>
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Excluir"  style="margin-left: 10px; margin-bottom: 10px;" class="btn themed-background-danger" />
                        </form>

                    </div>

                </div>
            </div>

        </div>

    </div>

</div>